<html>
    <head>
        {{>header}} 
    </head>

    <body>
<main class="box">
    <h2>Registered Successfully</h2>
    <a class="button" href="login">Login</a>

</main>

<script src="https://cdn.jsdelivr.net/npm/tsparticles@1.34.1/tsparticles.min.js"
        integrity="sha256-D6LXCdCl4meErhc25yXnxIFUtwR96gPo+GtLYv89VZo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/particles.js"></script>
</body>


</html>